
<div class="row">

  <div class="card col-md-6">
    <div class="card-body">
      <img class="card-img-top img-fluid" src="assets/img/photos/14.jpg" alt="Card image cap">
  </div>
  </div>
  <div class="card col-md-6">
    <div class="card-body">
     
      <div class="card-block "  >
        <h4 class="card-title">Basic</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>  
  </div>
 

</div>