
<div class="container">
  <div class="row">
   <div id="Smallchat">
    <div id="Layout" *ngIf="chatlayout" class="Layout Layout-open Layout-expand Layout-right" style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
      <div class="Messenger_messenger">
        <div class="Messenger_header" style="background-color: white ;color:black">
          <img src="../../assets/chatbot/meetup-icon.png">
          <h4 class="Messenger_prompt">Des questions ?</h4> <span (click)="hidechat()"  class="chat_close_icon"><i class="fa fa-angle-down"></i>
       
          </span> </div>
        <div class="Messenger_content">
          <div class="Messages">
              <ng-container *ngFor="let message of messages | async" >
   
                  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                                    'to':   message.sentBy === 'user' }" >
                    {{ message.content }}
                  </div>
                </ng-container>
            <div class="Messages_list"></div>
          </div>
          <div class="Input Input-blank">
            <input class="Input_field"  id="disabled-input" [(ngModel)]="formValue" placeholder="ecrire votre message..."  (keyup.enter)="sendMessage()" type="text" size="33"/>
          
            <button  (click)="sendMessage()" class="Input_button Input_button-send">
             Envoyer
            </button>
          </div>
        </div>
      </div>
    </div>
   
    <div class="container" class="chat_on" *ngIf="chatbutton" >

      <img src="../../assets/chatbot/meetup-icon.png" class="icon-open">
     <h4 class="titre-open" > CHATBOT </h4>
      <span class="chat_on_icon" (click)="show()"><i class="fa fa-chevron-up open" aria-hidden="true"></i> </span>
    </div>
   
  </div>
  </div>
</div>
