<!--Statistics cards Starts-->
<div class="row">
	<ngb-carousel>
		<ng-template ngbSlide>
			<img  class='img1' src="assets/img/photos/gydc.jpg" alt="Random first slide">
			<div class="carousel-caption">
				<!-- <h3>First slide label</h3> -->
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img class='img1' src="assets/img/photos/arci.jpg" alt="Random second slide">
			<div class="carousel-caption">
				<!-- <h3>Second slide label</h3> -->
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img class='img1' src="assets/img/photos/jet.jpg" alt="Random third slide">
			<div class="carousel-caption">
				<!-- <h3>Third slide label</h3> -->
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			</div>
		</ng-template>
	</ngb-carousel>
</div>
<!--Sfirst section ended-->

<!--Line with Area Chart 1 Starts-->
<div class="row">
	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card horizontal">
			<div class="card-body">
				<div class="card-stacked align-self-center">
					<div class="px-3">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Toffee sugar plum brownie pastry gummies jelly.</p>
						<a class="btn btn-raised btn-danger">Go somewhere</a>
					</div>
				</div>
				<div class="card-img">
					<img class="card-img-top img-fluid" src="assets/img/photos/06.jpg" alt="Card image cap">
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Calendar</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="card-block">
						<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
			
						<div class="block mt-3 mb-3">
						  <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
						  <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">To current month</button>
						  <button class="btn btn-sm btn-outline-primary" (click)="selectToday()">Select Today</button>
						</div>
			
						<p>Month: {{ date.month }}.{{ date.year }}</p>
						<p>Model: {{ model | json }}</p>
					</div>
				
				</div>
			</div>
		</div>
	</div>			
</div>
<!--Line with Area Chart 1 Ends-->

<div class="row" matchHeight ="card">
	<div class="col-xl-4 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Statistics</h4>
			</div>
			<div class="card-body">

				<p class="font-medium-2 text-muted text-center pb-2">Last 6 Months Sales</p>
				<div id="Stack-bar-chart" class="height-300 Stackbarchart mb-2">
					<x-chartist class="" [data]="Stackbarchart.data" [type]="Stackbarchart.type" [options]="Stackbarchart.options"
					 [responsiveOptions]="Stackbarchart.responsiveOptions" [events]="Stackbarchart.events">
					</x-chartist>
				</div>

			</div>
		</div>
	</div>
	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Shopping Cart</h4>
			</div>
			<div class="card-body">
				<table class="table table-responsive-sm text-center">
					<thead>
						<tr>
							<th>Image</th>
							<th>Product</th>
							<th>Quantity</th>
							<th>Status</th>
							<th>Amount</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img class="media-object round-media height-50" src="assets/img/elements/01.png" alt="Generic placeholder image" /></td>
							<td>Ferrero Rocher</td>
							<td>1</td>
							<td>
								<a class="btn btn-raised btn-round btn-primary">Active</a>
							</td>
							<td>$19.94</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td><img class="media-object round-media height-50" src="assets/img/elements/07.png" alt="Generic placeholder image" /></td>
							<td>Headphones</td>
							<td>2</td>
							<td>
								<a class="btn btn-raised btn-round btn-danger">Disabled</a>
							</td>
							<td>$99.00</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td><img class="media-object round-media height-50" src="assets/img/elements/11.png" alt="Generic placeholder image" /></td>
							<td>Camera</td>
							<td>1</td>
							<td>
								<a class="btn btn-raised btn-round btn-info">Paused</a>
							</td>
							<td>$299.00</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td><img class="media-object round-media height-50" src="assets/img/elements/14.png" alt="Generic placeholder image" /></td>
							<td>Beer</td>
							<td>2</td>
							<td>
								<a class="btn btn-raised btn-round btn-success">Active</a>
							</td>
							<td>$24.51</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row" matchHeight ="card">
	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title mb-0">Visit & Sales Statistics</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="chart-info mb-2">
						<span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i> Sales</span>
						<span class="text-uppercase"><i class="fa fa-circle deep-purple font-small-2 mr-1"></i> Visits</span>
					</div>
					<div id="line-area2" class="height-400 lineArea2">
						<x-chartist class="" [data]="lineArea2.data" [type]="lineArea2.type" [options]="lineArea2.options"
						 [responsiveOptions]="lineArea2.responsiveOptions" [events]="lineArea2.events">

						</x-chartist>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-12">
		<div class="card gradient-blackberry">
			<div class="card-body">
				<div class="card-block">
					<h4 class="card-title white">Statistics</h4>
					<div class="p-2 text-center">
						<a class="white font-medium-1">Month</a>
						<a class="btn btn-raised btn-round bg-white mx-3 px-3">Week</a>
						<a class="white font-medium-1">Day</a>
					</div>
					<div class="my-3 text-center white">
						<a class="font-large-2 d-block mb-1">$ 78.89 <span class="ft-arrow-up font-large-2"></span></a>
						<span class="font-medium-1">Week2   +15.44</span>
					</div>
				</div>
				<div id="lineChart" class="height-250 lineChart lineChartShadow">
					<x-chartist class="" [data]="lineChart.data" [type]="lineChart.type" [options]="lineChart.options"
					 [responsiveOptions]="lineChart.responsiveOptions" [events]="lineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" matchHeight ="card">
	
</div>